{
  "env": { "browser": true },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": 0,
    "comma-dangle": [2, "never"],
    "implicit-arrow-linebreak": 0,
    "import/no-unresolved": [2, { "ignore": ["react", "react-native"] }],
    "lines-between-class-members": 0,
    "no-nested-ternary": 0,
    "object-curly-newline": 0,
    "operator-linebreak": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/prop-types": [2, { "skipUndeclared": true }],
    "react/sort-comp": 0
  }
}
